<!-- nav Bar -->
<nav class="navbar navbar-expand-sm">
    <div class="d-flex flex-row justify-content-around align-items-center container">
        <ul class="d-flex flex-row justify-content-center align-items-center navbar-nav w-100">
            <li class="nav-items px-2">Experience</li>
            <li class="nav-items px-2">Home</li>
            <li class="nav-items px-2">About</li>
        </ul>
    </div>
</nav>

<!-- hero section -->
<div class="d-flex flex-row justify-content-around align-items-ceter px-4 hero">
    <div>
        <p id="name">Hey,I'm Sukesh 👋</p>
        <div id="title"> <span style="color: purple;">Front</span>end <br> Developer</div>
        <p id="about">"Frontend dev by day, website magician by night (okay, maybe not night, but you get the idea). Based in India, ready to make your website shine!"</p>
        <div class="d-flex flex-row justify-content-around heroBtns">
            <button class="btn btn-sm touchBtn">Get in Touch</button>
            <button class="btn btn-sm browseBtn">Browse projects</button>
        </div>
    </div>
    <div>
        <span id="heroImgBrd">
            <img id="heroImg" src="../../../assets/PicsArt_11-03-07.40.55.png" alt="">
        </span>        
    </div>
</div>